html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin-top: 24px;
  margin-left: 24px;
}

.banner {
  width: 300px;
  height: 600px;
  position: relative;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
}

.header {
  width: 300px;
  height: 40px;
  background-color: #000;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  /* z-index: 20; */
  top: 0%;
  position: absolute;
  display: flex;
}

.logo {
  width: 300px;
  height: 552px;
  background: #f0f0f0;
}

.logo svg:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 250px;
}

.logo svg:nth-child(2) {
  top: 338px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.panel-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 552px;
}

.panel-1 .overlay-1,
.panel-1 .overlay-2,
.panel-1 .overlay-3 {
  height: 552px;
  position: absolute;
  left: 0;
}

.panel-1 .overlay-1 {
  width: 300px;
  background-color: #000;
  z-index: 10;
}

.panel-1 .overlay-2 {
  width: 337.5px;
  background-color: #f1f1f1;
  z-index: 9;
}

.panel-1 .overlay-3 {
  width: 375px;
  background-color: #fff;
  z-index: 8;
}

.panel-2 {
  width: 300px;
  height: 512px;
  background-color: #f0f0f0;
  top: 650px;
  position: absolute;
  display: flex;
  flex-direction: column;

  /* TO DO: Delete later */
  /* border: 1px solid #000; */
  /* overflow: hidden; */
}

.panel-2 .img {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 300px;
  min-height: 280px;
  white-space: nowrap;
  /* z-index: 20; */
  /* margin: 6px 22px; */
}

.panel-2 .img img {
  min-width: 252px;
  height: 267px;
  object-fit: cover;
  margin: 6px 24px;
}

.panel-2 .details {
  width: 300px;
  height: 100%;
  padding: 30px 20px;
  background-color: #fff;
  /* display: flex;
  flex-direction: column; */
}

.panel-2 .details .product-details-line-1 {
  font-family: "Neue Haas Display Bold";
  font-size: 26.7px;
  line-height: 49px;
}

.panel-2 .details .product-details-line-2 {
  font-family: "Neue Haas Display Regular";
  font-size: 18px;
  line-height: 33px;
}

.panel-2 .details .product-details-line-3 {
  font-family: "Neue Haas Display Bold";
  font-size: 27.3px;
  line-height: 50px;
}

.panel-2 .cta {
  width: 140px;
  height: 44px;
  border-radius: 9999px;
  border: none;
  background: #000;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Neue Haas Grotesk Display Pro";
  position: absolute;

  top: 440px;
  left: 140px;

  /* z-index: 20; */
}

.end-frame {
  width: 300px;
  height: 280px;
  background-color: #fff;
  top: 0px;
  left: 0px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  /* opacity: 0; */
}

.panel-2 .end-frame-text .end-frame-text-line-1,
.panel-2 .end-frame-text .end-frame-text-line-2,
.panel-2 .end-frame-text .end-frame-text-line-3 {
  font-family: "Neue Haas Display Bold";
  font-size: 30px;
  line-height: 55px;
  /* transform: translateX(-250px); */
}

.playback-controls {
  width: 300px;
  height: 38px;
  position: absolute;
  background-color: #fff;
  top: 552px;
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.play-button,
.pause-button,
.reverse-button,
.resume-button,
.restart-button {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scrub {
  width: 300px;
  height: 10px;
  position: absolute;
  top: 590px;
  left: 0px;
}

.scrub-bar {
  position: absolute;
  width: 300px;
  height: 10px;
  margin: 0;
  background: #f0f0f0;
  height: 10px;
  width: 300px;
  outline: none;
  -webkit-appearance: none;
}

.scrub-bar::-webkit-slider-thumb {
  width: 4px;
  height: 12px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #fff;
}

@font-face {
  font-family: "Neue Haas Display Regular";
  src: url("../assets/fonts/NeuePlakRegular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Display Bold";
  src: url("../assets/fonts/NeuePlakBold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../assets/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
